rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function signedIn() {
      return request.auth != null;
    }

    match /users/{userId} {
      allow read, write: if signedIn() && request.auth.uid == userId;
    }

    match /groups/{groupId} {
      allow read: if signedIn();
      allow create: if signedIn();
      allow update, delete: if signedIn() && resource.data.ownerId == request.auth.uid;
    }

    match /groups/{groupId}/members/{userId} {
      allow read: if signedIn();
      allow write: if signedIn() && request.auth.uid == userId;
    }

    match /points/{pointId} {
      allow read: if signedIn();
      allow create: if signedIn() && request.resource.data.userId == request.auth.uid;
      allow update, delete: if signedIn() && resource.data.userId == request.auth.uid;
    }

    match /points/{pointId}/visits/{userId} {
      allow read: if signedIn();
      allow write: if signedIn() && request.auth.uid == userId;
    }

    match /tracks/{trackId} {
      allow read, write: if signedIn() && resource.data.userId == request.auth.uid;
      allow create: if signedIn() && request.resource.data.userId == request.auth.uid;
    }

    match /tracks/{trackId}/points/{trackPointId} {
      allow read, write: if signedIn();
    }
  }
}
